*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  height: 100vh;
}
.child__one {
  width: 150px;
  height: 150px;
  background-color: red;
}
.child__two {
  width: 150px;
  height: 150px;
  background-color: blue;

}
.child__three {
  width: 150px;
  height: 150px;
  background-color: aqua;
}



my__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;

  &--1 {
      background-image: url()
  }
  &--2 {
      background-image: url();
  }
  &--3 {
      background-image: url();
  }
}